@import "tailwindcss";

.language {
  margin-bottom: -4px;
}

input {
  border-color: transparent;
}

input:focus {
  border-color: transparent;
  outline: none;
}

.bg-blue {
  background: #0068bf !important;
}

.color-blue {
  color: #0068bf;
}

.bg-gray {
  background: #eee;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.message-list-wrap {
  min-height: calc(100vh - 170px) !important;
  max-height: calc(100vh - 170px) !important;
}

.message-list {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 40px;
  min-height: calc(100vh - 170px) !important;
}

.sidebar {
  max-height: calc(100vh) !important;
}

@media (max-width: 1550px) {
  .message-list-wrap {
    min-height: calc(100vh - 185px) !important;
    max-height: calc(100vh - 185px) !important;
  }
  .message-list {
    min-height: calc(100vh - 185px) !important;
  }
}

@media (max-width: 1200px) {
  .message-list-wrap {
    min-height: calc(100vh - 190px) !important;
    max-height: calc(100vh - 190px) !important;
  }
  .message-list {
    min-height: calc(100vh - 190px) !important;
  }
}

@media (max-width: 1000px) {
  .message-list-wrap {
    min-height: calc(100vh - 220px) !important;
    max-height: calc(100vh - 220px) !important;
  }
  .message-list {
    min-height: calc(100vh - 220px) !important;
  }
}

@media (max-width: 800px) {
  .message-list-wrap {
    min-height: calc(100vh - 250px) !important;
    max-height: calc(100vh - 250px) !important;
  }
  .message-list {
    min-height: calc(100vh - 250px) !important;
  }
}

@media (max-width: 700px) {
  .message-list {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper {
    padding-bottom: 0;
  }
  .sidebar {
    max-height: 100vh !important;
  }
  .typing-container {
    margin-bottom: 10px !important;
  }
  .message-list-wrap {
    min-height: calc(100vh - 200px) !important;
    max-height: calc(100vh - 200px) !important;
  }
  .message-list {
    min-height: calc(100vh - 200px) !important;
  }
}

@media (max-width: 650px) {
  .message-list-wrap {
    min-height: calc(100vh - 225px) !important;
    max-height: calc(100vh - 225px) !important;
  }
  .message-list {
    min-height: calc(100vh - 225px) !important;
  }
}

@media (max-width: 480px) {
  .message-list-wrap {
    min-height: calc(100vh - 280px) !important;
    max-height: calc(100vh - 280px) !important;
  }
  .message-list {
    min-height: calc(100vh - 280px) !important;
  }
}

@media (max-width: 350px) {
  .message-list-wrap {
    min-height: calc(100vh - 310px) !important;
    max-height: calc(100vh - 310px) !important;
  }
  .message-list {
    min-height: calc(100vh - 310px) !important;
  }
}
